*.xml
*.class
out/
.idea/
.idea/workspace.xml
out/production/Trab/Menu.class
out/production/Trab/Menu.class
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
